<% content_for :title, "Categories" %>

<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Categories</h1>
  </div>

  <div id="authors" class="min-w-full divide-y divide-gray-200 space-y-5">
    <% if @categories.any? %>
      <% @categories.each do |category| %>
        <%= render "categories/category", cat: category %>
      <% end %>
    <% else %>
      <p class="text-center my-10">No categories found.</p>
    <% end %>
  </div>
</div>
